<section id="contact" class="reservation">
  <div class="container">
    <div class="form reservation-form bg-black-10">
      <form action="" class="form-left">
        <h2 class="headline-1 text-center">Confirma tu asistencia</h2>

        <p class="form-text text-center">
          Confirma por llamada
          <a href="tel:  272 279 5642
          " class="link"> 272 500 2022 </a>
          o rellene el formulario de asistencia
        </p>

        <div class="input-wrapper">
          <input
            type="text"
            name="name"
            placeholder="Tu nombre"
            autocomplete="off"
            class="input-field"
          />

          <input
            type="tel"
            name="phone"
            placeholder="Número de télefono"
            autocomplete="off"
            class="input-field"
          />
        </div>

        <div class="">
          <div class="input-wrapper">
            <div class="icon-wrapper flex flex-col justify-center items-center">
              <ion-icon name="check" aria-hidden="true"></ion-icon>
              <label for="">Asistiras</label>
              <select name="person" class="input-field">
                <option value="1-person">Si</option>
                <option value="1-person">No</option>
              </select>

              <ion-icon class="mt-6" name="chevron-down" aria-hidden="true"
              ></ion-icon>
            </div>

            <div class="icon-wrapper flex flex-col justify-center items-center">
              <ion-icon class="mt-6" name="person-outline" aria-hidden="true"
              ></ion-icon>
              <label for="">Acompañantes</label>
              <select name="person" class="input-field">
                <option value="1-person">Ninguno</option>
                <option value="1-person">1 Persona</option>
                <option value="2-person">2 Personas</option>
                <option value="3-person">3 Personas</option>
                <option value="4-person">4 Personas</option>
                <option value="5-person">5 Personas</option>
                <option value="6-person">6 Personas</option>
                <option value="7-person">7 Personas</option>
              </select>
              <ion-icon class="mt-6" name="chevron-down" aria-hidden="true"
              ></ion-icon>
            </div>
          </div>
        </div>

        <textarea
          name="message"
          placeholder="Mensaje"
          autocomplete="off"
          class="input-field"></textarea>

        <button type="submit" class="btn btn-secondary">
          <span class="text text-1">Confirmar Asistencia</span>

          <span class="text text-2" aria-hidden="true">Enviar</span>
        </button>
      </form>

      <div
        class="form-right text-center flex flex-col justify-center items-center"
        style="
          background-image: url('./assets/images/form-pattern.png');
        "
      >
        <h2 class="headline-1 text-center">Cofirmar via Whatsapp</h2>

        <p class="contact-label">Confirma con</p>

        <a href="tel:  272 279 5642
          " class="body-1 btn">
          <span class="text-white">Ana K.</span>
        </a>

        <div class="separator"></div>

        <a href="tel:  272 279 5642
          " class="body-1 btn">
          <span class="text-white">Jesus</span>
        </a>
      </div>
    </div>
  </div>
</section>
