<section class="special-dish text-center" aria-labelledby="dish-label">
  <div class="special-dish-banner">
    <img
      src="./assets/images/special-dish-banner.jpg"
      width="940"
      height="900"
      loading="lazy"
      alt="special dish"
      class="img-cover"
    />
  </div>

  <div class="special-dish-content bg-black-10">
    <div class="container">
      <img
        src="./assets/images/badge-1.png"
        width="28"
        height="41"
        loading="lazy"
        alt="badge"
        class="abs-img"
      />

      <p class="section-subtitle label-2">Especial de la casa</p>

      <h2 class="headline-1 section-title">Enchiladas de la Huasteca</h2>

      <p class="section-text">
        Lorem Ipsum is simply dummy text of the printingand typesetting industry
        lorem Ipsum has been the industrys standard dummy text ever since the
        when an unknown printer took a galley of type.
      </p>

      <div class="wrapper">
        <del class="del body-3">$100.00</del>

        <span class="span body-1">$90.00</span>
      </div>

      <a href="#" class="btn btn-primary">
        <span class="text text-1">Ver menú</span>

        <span class="text text-2" aria-hidden="true">Ver menú</span>
      </a>
    </div>
  </div>

  <img
    src="./assets/images/shape-4.png"
    width="179"
    height="359"
    loading="lazy"
    alt=""
    class="shape shape-1"
  />

  <img
    src="./assets/images/chilpa-removebg.png"
    width="351"
    height="462"
    loading="lazy"
    alt=""
    class="shape shape-2"
  />
</section>
