<section class="section service bg-black-10 text-center" aria-label="service">
  <div class="container">
    <p class="section-subtitle label-2">
      Momentos que quedan grabados para siempre
    </p>

    <h2 class="headline-1 section-title">Galería de fotos.</h2>

    <p class="section-text">Nuestros recuerdos</p>

    <ul class="grid-list">
      <li>
        <div class="service-card">
          <div class="has-before hover:shine">
            <figure
              class="card-banner img-holder"
              style="--width: 285; --height: 336"
            >
              <img
                src="./assets/images/service-1.jpg"
                width="285"
                height="336"
                loading="lazy"
                alt="Breakfast"
                class="img-cover"
              />
            </figure>
          </div>

          <div class="card-content">
            <h3 class="title-4 card-title">
              <span>12 de enero 2024</span>
            </h3>
          </div>
        </div>
      </li>

      <li>
        <div class="service-card">
          <div class="has-before hover:shine">
            <figure
              class="card-banner img-holder"
              style="--width: 285; --height: 336"
            >
              <img
                src="./assets/images/service-2.jpg"
                width="285"
                height="336"
                loading="lazy"
                alt="Appetizers"
                class="img-cover"
              />
            </figure>
          </div>

          <div class="card-content">
            <h3 class="title-4 card-title">
              <span>18 de septiembre 2024</span>
            </h3>
          </div>
        </div>
      </li>

      <li>
        <div class="service-card">
          <div class="has-before hover:shine">
            <figure
              class="card-banner img-holder"
              style="--width: 285; --height: 336"
            >
              <img
                src="./assets/images/service-3.jpg"
                width="285"
                height="336"
                loading="lazy"
                alt="Drinks"
                class="img-cover"
              />
            </figure>
          </div>

          <div class="card-content">
            <h3 class="title-4 card-title">
              <span>08 Agosto 2023</span>
            </h3>
          </div>
        </div>
      </li>
    </ul>

    <img
      src="./assets/images/shape-1.png"
      width="246"
      height="412"
      loading="lazy"
      alt="shape"
      class="shape shape-1 move-anim"
    />
    <img
      src="./assets/images/shape-2.png"
      width="343"
      height="345"
      loading="lazy"
      alt="shape"
      class="shape shape-2 move-anim"
    />
  </div>
</section>
