<section class="section service bg-black-10 text-center" aria-label="service">
  <div class="container">
    <p class="section-subtitle label-2">
      Momentos que quedan grabados para siempre
    </p>

    <h2 class="headline-1 section-title">Mapa del lugar.</h2>

    <p class="section-text">Aquí es el evento, ven y acompañanos</p>

    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3775.5831427497055!2d-97.06365009999999!3d18.861194100000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85c4fd3308c2ec51%3A0x6fdb959a2dd4d08c!2sSal%C3%B3n%20de%20Eventos%20Leos!5e0!3m2!1ses!2smx!4v1725316870053!5m2!1ses!2smx"
      width="100%"
      height="450"
      style="border:0; filter: invert(1) hue-rotate(180deg);"
      allowfullscreen=""
      loading="lazy"
      class="grayscale-1 invert-1 rounded-md"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
    <img
      src="./assets/images/shape-1.png"
      width="246"
      height="412"
      loading="lazy"
      alt="shape"
      class="shape shape-1 move-anim"
    />
    <img
      src="./assets/images/shape-2.png"
      width="343"
      height="345"
      loading="lazy"
      alt="shape"
      class="shape shape-2 move-anim"
    />
  </div>
</section>
