<footer
  class="footer section has-bg-image text-center"
  style="background-image: url('./assets/images/Fondo_Flores.jpg')"
>
  <div class="container">
    <div class="footer-top grid-list">
      <div class="footer-brand has-before has-after">
        <a href="#" class="logo">
          <img
            src="./assets/images/celebriweb.svg"
            width="160"
            height="50"
            loading="lazy"
            alt="boda de Ana y Jesús"
          />
        </a>

        <address class="body-4">
          Boda de Ana y Jesús, José Peón y Contreras #49, Tlilapan, Veracruz
        </address>

        <a href="mailto:contacto@bodaanajesus.com" class="body-4 contact-link"
          >contacto@bodaanajesus.com</a
        >

        <a href="tel:  272 279 5642
    " class="body-4 contact-link"
          >Confirma tu asistencia: 272 279 5642
        </a>

        <p class="body-4">Fecha: 15 de Septiembre, 2024</p>

        <div class="wrapper">
          <div class="separator"></div>
          <div class="separator"></div>
          <div class="separator"></div>
        </div>

        <p class="title-1">¡No te lo pierdas!</p>

        <p class="label-1">
          Únete a nosotros y celebra con un <span class="span"
            >día inolvidable.</span
          >
        </p>

        <form action="" class="input-wrapper">
          <div class="icon-wrapper">
            <ion-icon name="mail-outline" aria-hidden="true"></ion-icon>

            <input
              type="email"
              name="email_address"
              placeholder="email"
              autocomplete="off"
              class="input-field"
            />
          </div>

          <button type="submit" class="btn btn-secondary">
            <span class="text text-1">Confirma tu asistencia</span>

            <span class="text text-2" aria-hidden="true"
              >Confirma tu asistencia</span
            >
          </button>
        </form>
      </div>

      <ul class="footer-list">
        <li>
          <a href="#" class="label-2 footer-link hover-underline">Inicio</a>
        </li>

        <li>
          <a href="#" class="label-2 footer-link hover-underline">Detalles</a>
        </li>

        <li>
          <a href="#" class="label-2 footer-link hover-underline"
            >Sobre Nosotros</a
          >
        </li>

        <li>
          <a href="#" class="label-2 footer-link hover-underline">Galería</a>
        </li>

        <li>
          <a href="#" class="label-2 footer-link hover-underline">Contacto</a>
        </li>
      </ul>

      <ul class="footer-list">
        <li>
          <a href="#" class="label-2 footer-link hover-underline">Facebook</a>
        </li>

        <li>
          <a href="#" class="label-2 footer-link hover-underline">Instagram</a>
        </li>

        <li>
          <a href="#" class="label-2 footer-link hover-underline">Twitter</a>
        </li>

        <li>
          <a href="#" class="label-2 footer-link hover-underline">Youtube</a>
        </li>

        <li>
          <a
            href="https://maps.app.goo.gl/qT5sGPnX7YKuTSGJ7"
            class="label-2 footer-link hover-underline">Google Maps</a
          >
        </li>
      </ul>
    </div>

    <div class="footer-bottom">
      <p class="copyright">&copy; 2024 Boda de Ana y Jesús</p>
    </div>
  </div>
</footer>
