<section
  class="section testi text-center has-bg-image flex"
  style="background-image: url('./assets/images/testimonial-bg.jpg')"
  aria-label="testimonials"
  id="testimonios"
>
  <div class="container">
    <div class="quote">”</div>

    <p class="headline-2 testi-text">
      Estamos emocionados de compartir este momento especial con ustedes.
      ¡Gracias por acompañarnos!
    </p>

    <div class="wrapper">
      <div class="separator"></div>
      <div class="separator"></div>
      <div class="separator"></div>
    </div>

    <div class="profile">
      <img
        class="img rounded-full ring ring-white ring-offset-base-100 ring-offset-2 size-[100px] mb-5"
        src="./assets/images/testi-avatar.jpg"
        alt="Avatar de Jazmín Villamil Rojas"
      />

      <p class="label-2 profile-name">Jazmín Villamil Rojas | Novia</p>
    </div>
  </div>

  <div class="container">
    <div class="quote">”</div>

    <p class="headline-2 testi-text">
      Nos sentimos bendecidos de tenerlos con nosotros en este día tan
      importante. ¡Gracias por su amor y apoyo!
    </p>

    <div class="wrapper">
      <div class="separator"></div>
      <div class="separator"></div>
      <div class="separator"></div>
    </div>

    <div class="profile">
      <img
        class="img rounded-full ring ring-white ring-offset-base-100 ring-offset-2 size-[100px] mb-5"
        src="./assets/images/testi-avatar-novia.jpg"
        alt="Avatar de Edgar Emmanuel Arias L."
      />

      <p class="label-2 profile-name">Edgar Emmanuel Arias L. | Novio</p>
    </div>
  </div>
</section>
