<section
  class="section testi text-center has-bg-image"
  style="background-image: url('./assets/images/testimonial-bg.jpg')"
  aria-label="testimonials"
  id="testimonios"
>
  <div class="container">
    <div class="quote">”</div>

    <p class="headline-2 testi-text">
      Espero puedan acompañarme en este momento magico de mi vida, un saludo y
      un beso a todxs.
    </p>

    <div class="wrapper">
      <div class="separator"></div>
      <div class="separator"></div>
      <div class="separator"></div>
    </div>

    <div class="profile">
      <img
        class="img rounded-full ring ring-white ring-offset-base-100 ring-offset-2 size-[100px] mb-5"
        src="./assets/images/testi-avatar.jpg"
        alt="JesusPuertos Avatar"
      />

      <p class="label-2 profile-name">Ana Karen F. | Novia</p>
    </div>
  </div>
</section>
