<section
  class="section about text-center"
  aria-labelledby="about-label"
  id="about"
>
  <div class="container">
    <div class="about-content">
      <p class="label-2 section-subtitle text-left ml-2" id="about-label">
        Nuestra Historia
      </p>

      <h2 class="headline-1 section-title text-left">Como nos conocimos</h2>

      <p class="section-text text-pretty text-left">
        Todo empezo en tiempos de la universidad, cuando la vida nos puso en el
        mismo salón de clases. Desde entonces, hemos compartido momentos
        inolvidables, risas, llantos, y muchas aventuras.
      </p>

      <div class="contact-label">Reservar mediante llamada</div>

      <a href="tel: 272 279 5642" class="body-1 contact-number hover-underline">
        272 279 5642</a
      >

      <a href="#" class="btn btn-primary">
        <span class="text text-1">Leer más</span>

        <span class="text text-2" aria-hidden="true">Leer más</span>
      </a>
    </div>

    <figure class="about-banner">
      <img
        src="./assets/images/about-banner.jpg"
        width="570"
        height="570"
        loading="lazy"
        alt="about banner"
        class="w-100"
        data-parallax-item
        data-parallax-speed="1"
      />

      <div
        class="abs-img abs-img-1 has-before"
        data-parallax-item
        data-parallax-speed="1.75"
      >
        <img
          src="./assets/images/about-abs-image.jpg"
          width="285"
          height="285"
          loading="lazy"
          alt=""
          class="w-100"
        />
      </div>
    </figure>

    <img
      src="./assets/images/historyShape.svg"
      width="197"
      height="194"
      loading="lazy"
      alt=""
      class="shape"
      class="w-100 rounded"
    />
  </div>
</section>
