<section class="section features text-center" aria-label="features">
  <div class="container">
    <p class="section-subtitle label-2">¿Por qué asistir a nuestra boda?</p>

    <h2 class="headline-1 section-title">Te ofrecemos</h2>

    <ul class="grid-list">
      <li class="feature-item">
        <div class="feature-card">
          <div class="card-icon">
            <img
              src="./assets/images/features-icon-2.png"
              width="100"
              height="80"
              loading="lazy"
              alt="icon"
            />
          </div>

          <h3 class="title-2 card-title">Ambiente acogedor</h3>

          <p class="label-1 card-text">
            Disfruta de un ambiente cálido y acogedor en nuestra celebración.
          </p>
        </div>
      </li>

      <li class="feature-item">
        <div class="feature-card">
          <div class="card-icon">
            <img
              src="./assets/images/features-icon-1.png"
              width="100"
              height="80"
              loading="lazy"
              alt="icon"
            />
          </div>

          <h3 class="title-2 card-title">Comida deliciosa</h3>

          <p class="label-1 card-text">
            Saborea una variedad de platos exquisitos preparados por chefs
            expertos.
          </p>
        </div>
      </li>

      <li class="feature-item">
        <div class="feature-card">
          <div class="card-icon">
            <img
              src="./assets/images/features-icon-3.svg"
              width="100"
              height="80"
              loading="lazy"
              alt="icon"
            />
          </div>

          <h3 class="title-2 card-title">Música en vivo</h3>

          <p class="label-1 card-text">
            Disfruta de música en vivo que hará de nuestra boda un evento
            inolvidable.
          </p>
        </div>
      </li>

      <li class="feature-item">
        <div class="feature-card">
          <div class="card-icon">
            <img
              src="./assets/images/features-icon-4.png"
              width="100"
              height="80"
              loading="lazy"
              alt="icon"
            />
          </div>

          <h3 class="title-2 card-title">Momentos especiales</h3>

          <p class="label-1 card-text">
            Comparte con nosotros momentos únicos y especiales en este día tan
            importante.
          </p>
        </div>
      </li>
    </ul>

    <img
      src="./assets/images/shape-7.svg"
      width="208"
      height="178"
      loading="lazy"
      alt="shape"
      class="shape shape-1"
    />

    <img
      src="./assets/images/shape-8.png"
      width="120"
      height="115"
      loading="lazy"
      alt="shape"
      class="shape shape-2"
    />
  </div>
</section>
